<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <h3>Account Verification</h3>
        <br>
        <p>Thanks for choosing Eventful, please click on the button below to verify your account</p>

        <a href="http://localhost:8000/Verification/?token={{ token }}" style="margin-top: 1rem; padding: 1rem; border-radius: 0.5rem; font-size: 1rem; text-decoration: none; background: #0275d8; color: white;">verify your email</a>

        <p>Please kindly ignore this email if you did not register for Eventful and nothing will happen. Thanks</p>
    </div>
</body>
</html>